<div class="row">
	<div id="map" class="col-md-12"></div>
	<div class="leyenda">
		<div class="circle color_green3"></div>
		<div class="circle color_green4"></div>
		<div class="circle color_green5"></div>
		<div class="circle color_yellow"></div>
		<div class="circle color_red"></div>
		<div class="circle color_red2"></div>
		<div class="circle color_pink"></div>
		<div class="circle color_purple"></div>
		<div class="circle color_purple2"></div>
		<div class="circle color_blue"></div>
	</div>
	<div class="leyendaOpen">
		<h1 class="closeLeyend">SERVIZI</h1>
		<div class="mt25">
			<div class="circle color_green3"></div>
			<h2>Parchi e giardini</h2>
			<div class="circle color_green4"></div>
			<h2>Parchi e giardini</h2>
			<div class="circle color_green5"></div>
			<h2>Parchi e giardini</h2>
			<div class="circle color_yellow"></div>
			<h2>Parchi e giardini</h2>
			<div class="circle color_red"></div>
			<h2>Parchi e giardini</h2>
			<div class="circle color_red2"></div>
			<h2>Parchi e giardini</h2>
			<div class="circle color_pink"></div>
			<h2>Parchi e giardini</h2>
			<div class="circle color_purple"></div>
			<h2>Parchi e giardini</h2>
			<div class="circle color_purple2"></div>
			<h2>Parchi e giardini</h2>
			<div class="circle color_blue"></div>
			<h2>Parchi e giardini</h2>
		</div>
	</div>
</div>